.calendar-wrapper {
  width: 80%;
  padding-top: 3em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
}

.day-wrapper {
  display: flex;
  height: 5.5rem;
  border: 1px dashed white;
}
