.calendar-wrapper {
  width: 95%;
  padding-top: 3em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
}

.day-wrapper {
  display: flex;
  min-height: 5.5rem;
  border: 1px dashed white;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0.5em;
}

.task-card {
  width: 100%;
  min-height: 2.5em;
}
