.calendar-wrapper {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 2px;
}

.day-wrapper {
  display: flex;
  height: 5.5rem;
  border: 1px dashed white;

  .day-number {
    display: flex;
    justify-content: center;
    width: 2rem;
    height: fit-content;
    margin: 0.3em;
    border-radius: 50%;
    background-color: olive;
  }
}
