.home-container {
  display: flex;
  padding-top: 3em;

  .main-area {
    flex: 1;
  }

  .secondary-area {
    width: 25%;
  }
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 3rem;
}
